.root {
  display: "flex";
  flexwrap: "wrap";
  justifycontent: "space-around";
  overflow: "hidden";
  backgroundcolor: theme.palette.background.paper;
}

.gridList {
  width: 500;
  height: "100%" 99;
}

.icon {
  color: "rgba(255, 255, 255, 0.54)";
}
